.Footer {
  background: #08182c;
  color: white;
}
.Footer .links ul {
  list-style-type: none;
}
.Footer .links li a {
  color: white;
  transition: color 0.2s;
}
.Footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.Footer .about-company i {
  font-size: 25px;
}
.Footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.Footer .about-company a:hover {
  color: #4180cb;
}
.Footer .location i {
  font-size: 18px;
}
.Footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
